@charset "utf-8";
/* CSS Document */
table.gridtable {
	color:#333333;
	border-width: 1px;
	border-color: #cccccc;
	border-collapse: collapse;
	margin: 10px;
	font-size: 12px;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #cccccc;
	font-size: 12px;

}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #cccccc;
	background-color: #ffffff;
	font-size: 12px;
}

